*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*Utility*/

body{
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.text-right{
    text-align: right;
}

.text-center{
    text-align: center;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

.col{
    float: left;
}

.col.w-20{
    width: 20%;
}

.col.w-60{
    width: 60%;
}

.btn-white{
    background-color: #fff;
    color: #000;
}

.btn-black{
    background-color: #000;
    color: #fff;
}

.btn-large{
    font-size: 20px;

}

/*Header e Nav*/

header{
    background-color: #3161e0;
    color: #fff;
    height: 80px;
}
header .bar-top{
    line-height: 80px;   

}

#logo{
    vertical-align: middle;
}

.main-menu ul{
    list-style: none;
}

.main-menu ul li{
    display: inline-block;
    margin: 0 20px;

}

.main-menu ul li a{
    text-decoration: none;
    vertical-align: middle;
    color:#fff
}

.main-menu ul li a:hover{
    text-decoration: underline;
}

a.btn-small{
    padding: 10px 15px;
    border-radius: 15px;
    text-decoration: none;
}

/*Jumbotron*/

.jumbotron{
    background-image: url('../img/jumbo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 500px;
    position: relative;

}

.jumbotron .text-header{
    text-align: center;
    padding: 60px;
    line-height: 25px;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
}

h1{
    font-size: 44px;
}

p{
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 16px;

}

a.btn-large{
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 50px;
    font-size: 16px;

}


/*Main*/


main section{
    height: 500px;
    position: relative;
    top: 500px;
    bottom: 0;
}

.content{
    margin: 0 auto;
}

.left-box{
    width: 60%;
    float: left;
    height: 500px;
    background-color: violet;
    border: 1px solid black

    
}

.right-box{
    width: 40%;
    float: left;
    height: 500px;
    background-color: tomato;
    border: 1px solid black
   
}

.box{
    width: 100%;
    height: 500px;
    background-color: blueviolet;
    border: 1px solid black;
}




/*Footer*/
footer{
    background-color: #23272a;
    width: 100%;
    height: 300px;
    position: relative;
    top: 500px;
}

.foot-section-1{
    float: left;
    background-color: brown;
    border: 1px solid black;
    width: calc(1200px / 4);
    height: 100%;
}

.foot-section-2{
    float: left;
    background-color: brown;
    border: 1px solid black;
    width: calc(1200px / 4);
    height: 100%;
}

.foot-section-3{
    float: left;
    background-color: brown;
    border: 1px solid black;
    width: calc(1200px / 4);
    height: 100%;
}